<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accidental Shayar | Best hindi shayaris truly from heart</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/jpeg" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Best Hindi Shayaris in which words are enough for the feelings"/>
    <meta name="keywords" content="Best Shayaris, sad shayaris, friendship shayaris, romantic shayaris, shayaris, shayar, hindi shayari,
        shayari in hindi, love shayari"/>
    <meta name="author" content="accidentalshayar.com"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    {% include "includecss.html" %}

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    {% include "header.html" %}

    <div class="content-align">
        <h1>About Blog</h1>
        <p>
            Accidental Shayar is all about shayaris and poetries. Shayaris you'll love to read. Best way to describe
            your feelings, your love for someone, your inspiration to do best and motivational shayari to not let
            yourself down. Just the best way to convey your thoughts through beautiful words not spoken but louder than
            you speak. Just read the accidentally accidental shayaris from the blog accidental shayar.


<!--            About Me-->
<!--            Introduction-->
<!--            I am Uttam Jain, Software Engineer by profession but my passion to entertain people with the talent I have.-->
<!--            I believe "Talent is everything and everything in you is talent" so why not to use it as your voice. My life-->
<!--            motto is to make people laugh and to stay laughing. Guys whatever matters just do what you like and love it-->
<!--            like hell. So, just go and blossom in the world as it's waiting for you.-->


<!--            Interests-->
<!--            Travelling, Cooking, Dancing, Entertaining people, Writing Shayaris and Poetris, Singing.-->
        </p>
    </div>
    {% include "footer.html" %}
</div>
{% include "includejs.html" %}
</body>
</html>