<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Accidental Shayar | Best hindi shayaris truly from heart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Best Hindi Shayaris in which words are enough for the feelings"/>
    <meta name="keywords" content="Best Shayaris, sad shayaris, friendship shayaris, romantic shayaris, shayaris, shayar, hindi shayari,
        shayari in hindi, love shayari"/>

    <meta name="author" content="accidentalshayar.com"/>

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    {% include "includecss.html" %}

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    {% include "header.html" %}

    <div class="content-align">
        <h1>Privacy Policy</h1>
        <p>
            Your privacy is important to us. It is Accidental Shayar's policy to respect your privacy regarding any
            information we may collect from you across our website, https://accidentalshayar.herokuapp.com/, and other
            sites we own and operate.<br/><br/>

            We only ask for personal information when we truly need it to provide a service to you. We collect it by
            fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how
            it will be used.<br/><br/>

            We only retain collected information for as long as necessary to provide you with your requested service.
            What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as
            unauthorised access, disclosure, copying, use or modification.<br/><br/>

            We don’t share any personally identifying information publicly or with third-parties, except when required
            to by law.<br/><br/>

            Our website may link to external sites that are not operated by us. Please be aware that we have no control
            over the content and practices of these sites, and cannot accept responsibility or liability for their
            respective privacy policies.<br/><br/>

            You are free to refuse our request for your personal information, with the understanding that we may be
            unable to provide you with some of your desired services.<br/><br/>

            Your continued use of our website will be regarded as acceptance of our practices around privacy and
            personal information. If you have any questions about how we handle user data and personal information, feel
            free to contact us.

            This policy is effective as of <b>16th January 2020</b>.
        </p>
    </div>

    {% include "footer.html" %}
</div>
{% include "includejs.html" %}
</body>
</html>